@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Integrations!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" id="zsiFrame" src="@(Model.IFrameUrl)" style="border: 0;"></iframe>
        </div>
    }
    <div id="message" class="integration-created-block" hidden>
    </div>
</div>
